.controls-container {
  margin: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-select {
}

.dashboard-mode-toggle {
}

.month-range-select {
}

.toggle-button:focus {
  outline: none;
}
