.root-grid {
  display: grid;
  grid-template-columns: 30% auto auto auto;
  grid-template-rows: 6% 14% 40% auto;
  grid-template-areas:
    'hd hd hd hd'
    'ctl ctl ctl ctl'
    'fg fg fg fg'
    'c1 c2 c2 c2';
  height: 100vh;
  width: 100vw;
  background-color: whitesmoke;
}

.header {
  grid-area: hd;
  background-color: lightgrey;
  height: 100%;
}

.controls {
  grid-area: ctl;
}

.forecast-graph {
  grid-area: fg;
}

.card-1 {
  grid-area: c1;
}

.card-2 {
  grid-area: c2;
}
