.header-container {
  display: flex;
  align-items: center;
  margin-left: 2em;
  margin-right: 1em;
  height: 100%;
  justify-content: space-between;
}

.header-container h1 {
  font-size: 1.5em;
}

.link + .link {
  margin-left: 12px;
}
